@import "tailwindcss";

@theme {
  --color-green-dark: #0b2f05;
  --color-green-light: #3ed42a;
  --color-border-green: #31d11c;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

*{
  scroll-behavior: smooth;
}

.parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}